body{
  font-family: 'Bebas Neue', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'Poppins', sans-serif;

}
.link-button{
  color: white;
  background: orange
  ;
  text-decoration: none;
  background-image: linear-gradient(orange , tomato);
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 10px ;

}
.top-design{

}
.bg-text{
  text-align: center;
background-image: url(images/donation3.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-attachment: fixed;
height: 100vh;
width: 100%;
 


}
.bg-img{
 
 
  

}
.header{
  
  text-align: center;
  font-size: 1000;
  font-weight: 1000;
  color: white;

}
.box1{
  
  border: 1px solid gray;
  margin-left: 2%;
  border-radius: 10px;
}
.middle-design{
  text-align: center;
 
}
.flood{
  color: rgb(176, 210, 239);
}
.title{
  text-align: center;
  font-size: 40;
  font-weight: bold;

}
.flex-box{
display: flex;
margin-left: 500px;
}
.distance
{

  padding: 5px;
}
.box1:hover{
  border: 1px solid red;
  background: rgb(250, 176, 176);

}
.others{
  padding-top: 60px;
  text-align: center;
}
.container{
  text-align: center;
}
